[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=bentooSecureDelete;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false

[Desktop Action bentooSecureDelete]
Name=Excluir permanentemente (código Bentoo)
Name[pt_BR]=Excluir permanentemente (código Bentoo)
Icon=edit-delete-shred
Exec=/usr/libexec/bentoo/bentoo-secure-delete %F
