polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.login1.inhibit-block-sleep" &&
        subject.user == "foldingathome") {
            return polkit.Result.YES;
    }
});
